name: packages
# When the 'permissions' key is specified, unspecified permission scopes (e.g.,
# actions, checks, etc.) are set to no access (none).
permissions:
  contents: read
on:
  workflow_dispatch:
    inputs:
      # When git-ref is empty, HEAD will be checked out.
      git-ref:
        description: Optional git ref (branch, tag, or full SHA)
        required: false

jobs:
  sdist:
    runs-on: ubuntu-latest

    steps:
    - name: Clone
      uses: actions/checkout@v4
      with:
        # When the ref is empty, HEAD will be checked out.
        ref: ${{ github.event.inputs.git-ref }}

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'

    - name: Dependencies
      run: python -m pip install --upgrade pip setuptools

    - name: Build
      run: python setup.py sdist

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: packages-sdist
        path: ./dist

  wheels:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # Use the oldest version of Ubuntu that supports the versions of Python
        # you're targeting.
        #  > "Building manylinux-compatible wheels is not trivial; as a general
        #    rule, binaries built on one Linux distro will only work on other
        #    Linux distros that are the same age or newer. Therefore, if we
        #    want to make binaries that run on most Linux distros, we have to
        #    use a very old distro -- CentOS 6."
        #  - https://github.com/pypa/manylinux
        include:
          - os: macos-latest
          - os: windows-latest
          - os: ubuntu-22.04
          - os: ubuntu-22.04-arm
          - os: windows-11-arm
            # Python 3.11 is the earliest version available for Windows arm64
            # runners.
            python-version: '3.11'

    steps:
    - name: Clone
      uses: actions/checkout@v4
      with:
        # When the ref is empty, HEAD will be checked out.
        ref: ${{ github.event.inputs.git-ref }}

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        # Python versions prior to 3.8 are not supported on GitHub-hosted macOS
        # runners as of macOS 14.
        # https://github.com/actions/runner-images/issues/9770
        python-version: ${{ matrix.python-version || '3.8' }}

    - name: Dependencies
      run: python -m pip install --upgrade pip setuptools wheel

    - name: Build
      run: python setup.py bdist_wheel

    - name: manylinux
      if: ${{ startsWith(matrix.os, 'ubuntu-') }}
      run: |
        python -m pip install --upgrade auditwheel
        python -m auditwheel show dist/*.whl
        # Use manylinux_2_34, as you can't use an older ABI because of the
        # presence of too-recent versioned symbols. To target manylinux2014,
        # PyPA provides docker images.
        python -m auditwheel repair --plat "manylinux_2_34_$(uname -m)" dist/*.whl
        rm -r dist
        mv wheelhouse dist

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: packages-wheels-${{ matrix.os }}
        path: ./dist

  merge:
    runs-on: ubuntu-latest
    needs: [sdist, wheels]
    steps:
      - name: Merge artifacts
        uses: actions/upload-artifact/merge@v4
        with:
          name: packages
          pattern: packages-*
